<button class="btn btn-primary show-btn">Mostrar alerta</button>

<%= link_to "Mostrar alerta (con remote true)", alert_js_path, remote: true, class: 'btn btn-primary' %>

<script>
  new ProductsView();
</script>